
.formcontato__img {
    padding-top: 30px;
    width: 100%;
}

.formcontato__img2 {
    display: none;
}

.formcontato__title {
    font-size: 2rem;
}

.formcontato__subtext {
    font-weight: lighter;
    font-size: 1rem;
}

.formcontato__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    max-width: 400px;
    margin: 10% 10% 0 10%;
    padding: 0;
}

.formcontato__input {
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 1rem;
    height: 50px;
    width: 335px;
    border: #424141;
}

.formcontato__textarea {
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 1rem;
    height: 150px;
    border: #424141;
    margin-bottom: 20px;
}

.formcontato__boton {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(251, 155, 230);
    color: #000;
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 30px;
    border: 10px;
}

@media (min-width: 768px) {
    .formcontato__contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .formcontato__img {
        padding-top: 30px;
        width: 770px;
    }

    .formcontato__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formcontato__subtext {
        margin: 10px;
    }


    .formcontato__form {
        margin-top: 10px;
    }
}

/*Mobile*/
@media (min-width: 1024px) {

    .formcontato__contacto {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .formcontato--esquerda {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__img2 {
        display: block;
        width: 464px;
        height: 591px;
    }

    .formcontato__text {
        margin: 10px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
    }

    .formcontato__title {
        margin: 0;
    }

    .formcontato__subtext {
        margin: 10px 0 0 0;
        width: 350px;
        text-align: justify;
    }

    .formcontato__form {
        margin: 20px 0 0 0;
        width: 410px;
        align-items: start;
    }

    .formcontato__input {
        width: 400px;
    }

    .formcontato__textarea {
        width: 400px;
        margin: 0;
    }

    .formcontato__boton {
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
}



.error {
    border: 1px solid red;
}
.success {
    border: 1px solid green;
}