.skills__title {
    padding: 30px;
    margin: 0%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;

}

.skills__box {
    display: flex;
    text-align: center;
    align-items: center;
    width: 40%;
    background-color: #FFF;
    justify-content: center;
    transition: .3s;
    box-shadow: 4px 4px 4px #d5d5d5;
    position: relative;
    border-radius: 7%;

}
.skills__box:hover {
	box-shadow: 6px 6px 6px #717171;
}
.skills__img{
    width: 70px;
    margin: 0;
}

@media (min-width: 768px) {

    .skills__line {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding: 20px;
    
    }
    .skills__box {
        width: 30%;
    }
}

@media (min-width: 1024px) {

    
    .skills__line{
    align-items: stretch;
    flex-wrap: nowrap;
}


}
